/*Image de background*/
body{
    background-image: url(Images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.txtTitre{
text-align: center;
font-family:'Lucida Sans';
font-size: xx-large;


}
/*Bande top*/
.col-12{
    font-weight: bold;
    background-color: #C46D8D;
    margin-top: 3em;
    border-radius: 10em;
    
}
/*Bande bottom*/
.col-sm-12{
    font-weight: bold;
    background-color: #72427C;
    margin-top: 2.5em;
    border-radius: 10em;
    height: 70px;
   
}
.border-1{
    --bs-border-width:2px;
    --bs-border-color: black;
}

/*cadre droit / gauche  */

.col-6{
      margin-top: 6em;
    
    
}
.color{
    background-color: #fdb5b7d0;
}

.block{
    
    
    border-radius: 2em;
    width: 512px;
}
.border-5{
    --bs-border-opacity: 10;
    --bs-border-color: #72427C;
    --bs-border-width: 12px;
    
}


/*button diffictulté  */


.button {
    border-radius: 4px;
    border-radius: 3em;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: 50px;
    
  }
  


  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;

    display: inherit;
    vertical-align: middle;
    line-height: normal;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
 
  .success {background-color: #04AA6D;} /* Green */
.success:hover {background-color: #46a049;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}